 

 
 div.gallery {
    
    border: 1px solid #ccc;
    margin: auto;
    
	
    width: 50%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    
    
}

div.desc {
    padding: 15px;
    text-align: center;
}

h2{
	text-align: center;
}